div {
  width: 40%;
}

.json-data__section {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 5% 0 0 0;
}

.json-data__section textarea {
  margin: 15px 0;
  height: 50vh;
}

.json-data__section button {
  border-radius: 10px;
  width: 30%;
  padding: 10px;
  background-color: #c04d00;
  color: white;
  margin: 10px 0;
  align-self: flex-end;
}

.json-data__section button:hover {
  background-color: #ec9860;
}

.json-data-parse__button {
}
